.Frame1 {
  width: 85px;
  height: 118px;
  position: fixed;
  bottom: 65px !important;
  right: 220px !important;
  z-index: 999;
  transform: scale(0.7); /* Equal to scaleX(0.7) scaleY(0.7) */
}

.Rectangle1 {
  width: 400px;
  height: 40px;
  left: 0px;
  top: 178px;
  position: absolute;
  background-color: rgba(98, 85, 73, 1);
}

.Rectangle2 {
  width: 7px;
  height: 160px;
  left: 189px;
  top: 21px;
  position: absolute;
  background-color: rgba(235, 184, 103, 1);
  border-radius: 3.5px;
  transform-origin: bottom center;
}

.outer_circle {
  width: 400px;
  height: 200px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border: 30px solid gray;
  border-bottom: 0;
  left: 0px;
  top: 0px;
  position: absolute;
  background-color: rgba(154, 133, 123, 1);
}

.Ellipse2 {
  width: 40px;
  height: 40px;
  left: 172px;
  top: 158px;
  position: absolute;
  background-color: rgba(98, 85, 73, 1);
  border-radius: 9999px;
}

.P {
  left: 20px;
  top: 135px;
  position: absolute;
  font-size: 20px;
  line-height: 100%;
  color: black;
}

.A {
  left: 99px;
  top: 29px;
  position: absolute;
  font-size: 20px;
  line-height: 100%;
  color: black;
}

.R {
  left: 278px;
  top: 27px;
  position: absolute;
  font-size: 20px;
  line-height: 100%;
  color: black;
}

.C {
  left: 369px;
  top: 135px;
  position: absolute;
  font-size: 20px;
  line-height: 100%;
  color: black;
}
